/* =============
    Typography
============= */

*{
  font-family: 'Space Grotesk', sans-serif;
  // color: $light;
}

h1,h2,h3,h4,h5{
  font-family: bee, sans-serif;
  font-size: 5rem;
  *{
    font-family: bee, sans-serif;
  }
}
