/* =============
    About
============= */

.sectionPad{
  padding: 2rem 0;

  @include md{
    padding: 8rem 0;
  }

  @include lg {
    padding: 10vw 0;
  }
}

.sectionPadsm{
  padding: 2rem 0;

  @include md{
    padding: 4rem 0;
  }

  @include lg {
    padding: 4rem 0;
  }
}



.about.masterGrid{
    &::after{
      grid-row: 1 / 2;
    }
}


.resumeTitle{
  margin-bottom: var(--mgBot);

  @include md{
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    height: 100%;
  }
  h2{
    font-size: 30vw;
    margin-bottom: var(--mgBot);

    @include md{
      font-size: 17vw;
    }

    @include lg{
      font-size: 11vw;
    }
  }

  >div{

    @media screen and (min-height: 890px){
      position: sticky;
      top: 10%;
    }
  }
}

.resumeSection{
  padding: var(--mgBot) 0;

  &:last-child{
    padding-bottom: 0;
  }

  @include md{
    grid-column: 2 / 3;
    padding-left: 2rem;
  }

  @include lg{
    padding-right: 2rem;
  }
  h3{
    border-bottom: 1px solid var(--textColor);
    margin-bottom: var(--mgBotd2);
    padding-bottom: var(--mgBotd2);
  }

  h4{
    margin-bottom: calc(var(--mgBotd2) / 4);
  }

  >ul{
    >li{
      padding: var(--mgBotd2) 0;
      &:last-child{
        padding-bottom: 0;
      }

        li{
          padding: calc(var(--mgBotd2) / 2) 0;
          &:last-child{
            padding-bottom: 0;
          }
        }
    }
  }
}

.resumeSkill{
  @include lg{
    grid-column: 3 / 4;
  }
}

.resumeAchievements{

  @include lg{
    grid-column: 2 / 4;

    ul{
        grid-column-gap: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  }
}

.resumeExp{

  @include lg{
    grid-column: 2 / 4;

    >ul{
        grid-column-gap: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;

        >li{
          margin-bottom: 2rem;
        }
    }
  }

  >ul{
    ul{
      border-left: 1px solid white;
      margin: 1rem 0 0;
      padding-left: 1rem;

      li{
        &:first-child{
          padding-top: 0;
        }
      }
    }
  }
}
