/* =============
    Home
============= */
.fullScreen {
  display: block;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.full {
  display: block;
  height: 100vh;
  width: 100vw;
}

.fixedCoverWrapper {
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.homeIntro {
  background-color: var(--bgColor);
  height: 100vh;
  min-height: 100vw;
  position: relative;
  width: 100%;
  z-index: 3;
  @include md {
    min-height: 80vw;
  }
  @include lg {
    margin-bottom: 28vw;
    min-height: 50vw;
  }
}

.homeSplash {
  height: 100vh;
  width: 100%;
}

.homeIntroTitle {
  bottom: var(--mgLeft);
  left: var(--mgLeft);
  position: absolute;
  right: var(--mgLeft);
  @include md {
    bottom: var(--mgLeft);
    // width: calc(100vw - (2 * var(--mgleft)))
  }
  @include lg {
    bottom: -30vw;
    width: 86vw;
    // border: red 1px solid;
  }

  &:before {
    background-color: var(--textColor);
    content: '';
    height: 100vmax;
    left: 43%;
    opacity: 0.25;
    pointer-events: none;
    position: absolute;
    top: calc(-100vmax - 50vw - 1rem);
    width: 1px;
    @include md {
      left: 50%;
      top: calc(-100vmax + 3rem);
    }
    @include lg {
      left: 34%;
      top: calc(-100vmax + 24.5vw);
    }
  }

  h1 {
    font-size: 30vw;
    line-height: 75%;
    margin: 0 auto;
    text-transform: uppercase;
    width: fit-content;
    @include md {
      font-size: 28vw;
    }
    @include lg {
      font-size: 27vw;
    }

    span {
      display: block;

      &:nth-child(1) {
        padding-left: 0.5em;
        @include md {
          padding-left: 0.6em;
        }
        @include lg {
          padding-left: 1.1em;
        }
      }

      &:nth-child(3) {
        color: var(--accentColor);
        padding-left: 0.5em;
        @include lg {
          padding-left: 0.95em;
        }
      }

      b {
        // background-color: var(--textColor);
        color: transparent;
        display: inline-block;
        height: 0.67em;
        margin: 0 0.03em;
        position: relative;
        top: 0.02em;
        width: 0.67em;
      }

      video {
        border-radius: 100%;
        height: 100%;
        left: 0;
        object-fit: cover;
        object-position: center;
        position: absolute;
        top: 0;
        width: 100%;
        // animation: rotateLoop 10s infinite linear;
        &:active,
        &:hover {
          animation-play-state: paused;
        }
      }
    }
  }

  p {
    margin-bottom: 1em;
    margin-left: 20%;

    span {
      display: block;
    }
    @include md {
      margin-left: calc(50% + 2rem);
    }
    @include lg {
      margin-left: calc(30% + 5vw);
    }
  }

  .roundArrow {
    --rotateSVG: 90deg;
    height: 40vw;
    left: 20%;
    position: absolute;
    top: calc(-40vw - 2rem);
    width: 40vw;
    @include md {
      height: 25vw;
      left: calc(50% + 3rem);
      top: calc(-25vw - 2rem);
      width: 25vw;
    }
    @include lg {
      bottom: 44vw;
      height: 15vw;
      left: auto;
      right: calc(57% + 9vw);
      top: auto;
      width: 15vw;
    }
  }
}

.masterGrid {
  display: grid;
  // overflow: hidden;
  grid-template-columns: var(--mgLeft) auto var(--mgLeft);
  height: auto;
  position: relative;
  // overflow: auto;
  width: 100%;

  &::before {
    background-color: var(--textColor);
    content: '';
    display: none;
    height: 100%;
    left: 50%;
    opacity: 0.25;
    position: absolute;
    top: 0;
    width: 1px;
    @include md {
      display: block;
    }
    @include lg {
      left: 35%;
    }
  }

  &::after {
    border-left: 1px solid var(--textColor);
    content: '';
    display: none;
    height: 100%;
    opacity: 0.25;
    position: absolute;
    right: 35%;
    top: 0;
    width: 0;
    @include lg {
      display: block;
    }
  }
  @include md {}

  > * {
    grid-column: 2 / 3;
  }

  .pin-spacer {
    grid-column: 1 / -1;
  }
}

.fullGrid {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: var(--mgLeft) auto var(--mgLeft);
  width: 100%;
  @include md {
    grid-template-columns: var(--mgLeft) 1fr 1fr var(--mgLeft);
  }
  @include lg {
    grid-template-columns: var(--mgLeft) 1fr 1fr 1fr var(--mgLeft);
  }

  > * {
    grid-column: 2 / 3;
  }
}

.grid {
  display: grid;
  position: relative;
  width: 100%;
  @include md {
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
  @include lg {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.masterGrid.home {
  top: 2rem;

  &::after {
    @include lg {
      display: block;
      grid-row: 1 / 3;
      height: calc(100% - 15vw);
      top: 15vw;
    }
  }
}

.homeAbout {
  padding: 4rem 0;
  @include md {
    grid-template-rows: auto 1fr;
    padding: 10rem 0;
  }
  @include lg {
    grid-auto-rows: auto;
    padding: 15vw 0 10vw;
  }

  > div {
    border-bottom: 1px solid var(--textColor);
    margin-bottom: var(--mgBotd2);
    padding-bottom: var(--mgBotd2);

    &:nth-of-type(1) {
      @include md {
        margin-right: 2rem;
      }
      @include lg {
        border-bottom: 0;
        text-align: right;
      }
    }

    &:nth-of-type(2) {
      @include md {
        border-bottom: 0;
        grid-column: 1 / 2;
        margin-right: 2rem;
      }
      @include lg {
        grid-column: 2 / 3;
        margin: 0;
        padding: 0 2rem;
        // border-top: 1px solid var(--textColor);
      }
    }

    &:last-of-type {
      border-bottom: 0;
      @include md {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        margin-left: 2rem;
      }
      @include lg {
        grid-column: 3 / 4;
      }
    }
  }

  li {
    p {
      color: var(--accentColor);
      padding: 0.3em 0;
    }
  }

  a {
    margin-top: var(--mgBot);
  }
}

.homeProject {
  padding: 4rem 0;
  @include md {
    grid-template-rows: auto;
  }
  @include lg {
    grid-auto-rows: auto;
    padding: 0;
  }

  .homeProjectList {
    position: relative;


    @include md {
      grid-column: 3 / 4;
    }
    @include lg {
      display: grid;
      grid-template-columns: var(--mgLeft) 1fr 1fr var(--mgLeft);
      grid-column: 1 / -1;
    }
  }

  // .homeProjectDeco{
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: -1;
  //   // background-color: blue;
  //
  //   >div{
  //     position: sticky;
  //     top: 25vh;
  //     left: 0;
  //     height: 50vh;
  //     // background-color: red;
  //     display: flex;
  //     justify-content: flex-start;
  //     align-items: center;
  //     overflow: hidden;
  //     mask-image: linear-gradient(to left, transparent 0%, black 50%, transparent 100%);
  //
  //     p{
  //       font-size: 60vh;
  //       line-height: 0;
  //       font-family: 'Bee Four', sans-serif;
  //       white-space: nowrap;
  //       text-transform: uppercase;
  //       margin-bottom: -0.25em;
  //       opacity: 0.05;
  //       opacity: 0;
  //       transition: opacity 0.5s;
  //       animation: textSlide 80s infinite alternate linear;
  //       filter: blur(2px);
  //
  //
  //     }
  //
  //     p.active{
  //       opacity: 0.075;
  //     }
  //
  //     @keyframes textSlide{
  //       from {transform: translateX(0)}
  //       to {transform: translateX(-100%)}
  //     }
  //   }
  // }

  .homeProjectHeadings {
    grid-column: 1 / -1;
    margin-bottom: 4rem;
    padding-left: var(--mgLeft);
    padding-top: 2rem;
    position: relative;
    // border-top: 1px solid var(--textColor);
    @include md {
      grid-column: 1 / 3;
      padding: 2rem 0 0 var(--mgLeft);
    }

    @include lg{
      grid-column: 1 / -1;
      padding: 0 var(--mgLeft) 0;
    }

    > div {
      padding-right: 2rem;
      position: sticky;
      top: 10%;
      @include md {
        margin-bottom: 50vh;
      }
      @include lg {
        // align-items: flex-start;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: auto auto;
        column-gap: 2rem;
        flex-direction: row;
        margin-bottom: 0;
        text-align: right;
        padding-right: 0;
        top: 2rem;
      }

      h2 {
        max-width: 15ch;
        @include lg {
          font-size: 28vw;
          max-width: 10ch;
          text-align: left;
          grid-column: 1 / 3;
          grid-row: 1 / 3;
        }
      }

      p{
        @include lg{
          text-align: left;
          font-size: 1.8rem;
          height: fit-content;
          // align-self: flex-end;
          grid-row: 2 / 3;
          padding-left: 2rem;
        }
      }


      svg {
        display: none;
        margin-top: 2rem;
        @include md {
          display: block;
          width: 30vw;
        }
        @include lg {
          display: block;
          grid-column: 3 / 4;
          grid-row: 1 / 2;
          width: 100%;
          height: 28vw;
          margin-top: 0;
          transform: scaleX(-1);

        }
      }
    }
  }
}

.homeProjectGroup {
  // margin-bottom: 4rem;
  @include md {
    // margin-bottom: 6rem;
  }
  @include lg {
    display: grid;
    grid-auto-rows: auto;
    grid-column: 2 / 4;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 0;
  }
}

.projectItem {
  margin-bottom: 7rem;
  @include md {
    margin-bottom: 10rem;
    padding: 0 2rem;
  }



  &:nth-of-type(3n + 1){
    @include md {
      margin-bottom: 10rem;
    }

    @include lg {
      margin-bottom: 70vw;
    }
  }

  &:nth-of-type(3n + 3) {
    @include lg {
      align-self: center;
      height: fit-content;
      margin-bottom: 0;

      .featureProject {
        left: -7.5vw;
        right: auto;
      }
    }
  }

  &:nth-of-type(3n + 2) {
    @include lg {
      align-self: flex-end;
      height: fit-content;
      margin-bottom: 0;

      .featureProject {
        left: -7.5vw;
        right: auto;
      }
    }
  }

  &:nth-of-type(3n + 4){
    @include lg{
      margin-top: -17.25vw;
    }
  }

  &:nth-of-type(9){
    @include lg {
      margin-bottom: 0;
    }
  }

  .projectCoverWrapper {
    overflow: hidden;
    padding-bottom: 130%;
    position: relative;
    width: 100%;


    .projectCover {
      // left: -12.5%;
      // width: 125%;
      height: 120%;
      position: absolute;
      top: -10%;
      transition: height 0.25s, top 0.25s;

      &:hover {
        height: 140%;
        top: -20%;
      }
    // transition: 0;
    }

    a {
      max-width: none;

      img{
        transition: filter 0.25s;
      }

      &:hover{
        img {
          filter: brightness(0.75);
        }
      }
    }
  }
}

.projectMore {
  border-top: 1px solid var(--textColor);
  padding: 2rem 0;
  @include md {
    margin: 0 2rem;
  }
  @include lg {
    align-self: flex-end;
    height: fit-content;
    padding-bottom: 0;

    h3 {
      margin-bottom: 3vw;
    }
    // border-bottom: 1px solid var(--textColor);
  }
}

.projectIndex {
  cursor: default;
  font-family: bee, sans-serif;
  font-size: 100vw;
  @include md {
    font-size: 50vw;
  }
  @include lg {
    font-size: 35vw;
    line-height: 0.65;
    margin-bottom: 1.5rem;
    margin-left: 0;
    margin-top: 2.5vw;
    // writing-mode: vertical-rl;
  }
}

.projectInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
  @include md {
    margin-bottom: 1.5rem;
  }

  h3 {
    border-bottom: 1px solid $light;
    margin-bottom: 0.5rem;
    padding-bottom: 0.65rem;
    width: 100%;
  }
}

.featureProject {
  align-items: center;
  background-color: var(--bgColor);
  border-radius: 100%;
  display: flex;
  height: 8rem;
  justify-content: center;
  position: absolute;
  right: 1rem;
  top: 18vw;
  width: 8rem;
  z-index: 4;
  @include sm {
    bottom: 4rem;
    height: 6rem;
    top: auto;
    width: 6rem;
  }
  @include md {
    left: -5rem;
    right: auto;
    top: 20%;
  }
  @include lg {
    height: 10vw;
    // left: -7.5vw;
    right: -7.5vw;
    top: 20%;
    width: 10vw;
  }

  img {
    height: 40%;
    opacity: 0.75;
    transition: opacity 0.25s;
    width: 40%;
  }

  &::before {
    animation: rotateLoop 10s infinite linear;
    background-image: url("../img/feature.svg");
    background-size: cover;
    content: '';
    height: 100%;
    opacity: 0.75;
    position: absolute;
    top: 0;
    transition: opacity 0.25s;
    width: 100%;
  }

  &:hover {
    &::before,
    img {
      opacity: 1;
    }
  }
}
@keyframes rotateLoop {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.homeContact {
  grid-template-rows: auto 1fr;
  // min-height: 100vh;
  padding: 6rem 0;
  @include md {
    padding: 10rem 0;
  }
  @include lg {
    padding: 15vw 0;
  }

  h2 {
    margin-bottom: 1rem;
    margin-right: 2rem;
    // margin-top: 20vh;
    span {
      color: var(--accentColor);
    }
    @include md {
      text-align: right;
    }
  }

  > div {
    @include md {
      margin-left: 2rem;
    }
  }

  p {
    margin-bottom: 2rem;
  }
}
