/* =============
    Home
============= */


img, picture{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



main{
  &:focus{
    outline:0;
  }
}

.fullScreen{
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: block;
  // opacity: 0.5;
}

.full{
  width: 100vw;
  height: 100vh;
  display: block;
}

.fixedCoverWrapper{
  position: fixed;
  left:0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 10;
}

.homeIntro{
  height: 100vh;
  padding: 10vh;
}


.homeProjectList{
  height: 10rem;

  .projectCover{
    width: 100%;
    height: 100%;
  }
}

.projectItem{
  display: grid;
  height: auto;
  grid-template-rows: auto 30rem;
  width: 30%;
}
