/* =============
    Project
============= */

p, h4{
  a{
    color: var(--accentColor);

    &:hover, &:active{
      color: white;
    }
  }
}
.projectCoverFull {
  position: relative;

  > picture {
    border: 0;
    position: sticky;
    top: 0;
  }
}

.infoSection {
  > * {
    padding: 1rem 0;
    @include md {
      padding: 2rem;
    }

    &:first-child {
      padding-left: 0;
    }
  }

  ul {
    li {
      padding-bottom: 2rem;

      &:last-child {
        padding-bottom: 0;
      }
    }

    h4 {
      margin-bottom: 0.5em;
    }
  }

  img {
    display: none;
    object-fit: contain;
    object-position: top center;
    @include lg {
      display: block;
      height: 20vw;
      width: 20vw;
    }
  }
}

.infoSectionBorder {
  position: relative;

  &:before {
    background-color: var(--textColor);
    bottom: -4rem;
    content: '';
    height: 2px;
    position: absolute;
    width: calc(100% - 4rem);
    // display: none;
    @include md {
      display: block;
    }
  }
}

.profileImage{
  width: 0.55em;
  height: 0.55em;
  margin-top: 0.1em;
  margin-left: 0.1em;
  position: relative;
  display: none;
  transform: rotate(-15deg);


  @include lg{
    display: block;
  }
  >img{
    position: absolute;
    top: -15%;
    left: -15%;
    width: 130%;
    height: 130%;
    filter: brightness(0.75);
  }
}

/* ==========================
    Project Components
========================== */

.projectGrid {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: var(--mgLeft) auto var(--mgLeft);
  margin-top: 2rem;
  width: 100%;
  @include md {
    grid-template-columns: var(--mgLeft) repeat(4, 1fr) var(--mgLeft);
  }
  @include lg {
    grid-template-columns: var(--mgLeft) repeat(6, 1fr) var(--mgLeft);
  }
}

.projectHeading {
  border-bottom: 1px solid var(--textColor);
  font-size: 40vw;
  grid-column: 2 / 3;
  line-height: 0.65;
  // margin-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 1;
  @include md {
    font-size: 42vw;
    grid-column: 2 / 6;
    margin-top: 4rem;
    padding-bottom: 3rem;
  }
  @include lg {
    font-size: 43.5vw;
    grid-column: 2 / 8;
    margin-top: calc(var(--mgLeft) + 2vw);
    padding-bottom: calc(var(--mgLeft) / 2);
  }
}

.projectHeading + .projectSection {
  padding-top: 2rem;
  @include md {
    padding-top: 3rem;
  }
  @include lg {
    padding-top: calc(var(--mgLeft) / 2);
  }
}

.projectSection {
  grid-column: 2 / 3;
  height: auto;
  padding-top: 4rem;
  position: relative;
  z-index: 2;
  @include md {
    grid-column: 2 / 6;
    padding-top: var(--mgLeft);
  }
  @include lg {
    grid-column: 2 / 8;
    padding-top: var(--mgLeft);
  }
}

.projectSection.full {
  grid-column: 1 / -1;
}

.padded {
  padding-left: var(--mgLeft);
  padding-right: var(--mgLeft);
}

.grid3 {
  row-gap: 2rem;
  display: grid;
  grid-template-columns: 100%;
  width: 100%;

  p{
    picture{
      margin-top: 2rem;
      height: auto;
      width: 100%;
      position: relative;


      img{
        height: auto;
        width: 100%;
        position: relative;
        opacity: 0.5;
      }
    }
  }

  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
  @include lg {
    row-gap: 0;
    grid-template-columns: repeat(3, 1fr);

    p {
      padding: 0 2rem;
    }
  }
}

.grid2 {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  @include lg {
    grid-template-columns: repeat(2, 1fr);
  }

  p {
    padding: 0 2rem;
  }
}

.col13 {
  grid-column: 1 / -1;
  @include lg {
    grid-column: 1 / 3;
  }
}

.col23 {
  grid-column: 1 / -1;
  @include lg {
    grid-column: 2 / 4;
  }
}

.col34 {
  grid-column: 1 / -1;

  @include md{
    grid-column: 2 / 3;
  }
  @include lg {
    grid-column: 3 / 4;
  }
}

.col12 {
  grid-column: 1 / -1;
  @include lg {
    grid-column: 1 / 2;
  }
}

.col21 {
  grid-column: 1 / -1;
  @include lg {
    grid-column: 2 / 3;
  }
}

.projectText {
  row-gap: 0;

  h4 {
    grid-column: 1 / -1;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 0.5rem;

    &:last-of-type {
      margin-bottom: 0;
    }
    @include md {
      margin-bottom: 1rem;
      padding-left: 2rem;

      &:first-of-type {
        padding-left: 0;
      }

      &:last-of-type {
        grid-column: 2 / 3;
      }
    }
    @include lg {
      grid-column: auto;
      margin-bottom: 0;
      padding-left: 2rem;
      padding-right: 2rem;

      &:last-of-type {
        grid-column: auto;
        padding-right: 0;
      }
    }
  }
}

.projectImage {
  grid-column: 1 / -1;
  height: auto;
  z-index: 2;
}

.projectImageGrid {
  --ratio: 100%;

  > * {
    grid-column: 1 / -1;
    @include lg {
      grid-column: span 1;
      padding: 0 2rem;
    }
  }

  img {
    height: auto;
  }

  picture {
    padding-bottom: var(--ratio);
    position: relative;
    width: 100%;
    @include lg {
      margin: 0 auto;
      padding-bottom: calc(var(--ratio) - 4rem);
      width: calc(100% - 4rem);
    }

    img {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.projectLogo {
  align-items: center;
  background-clip: content-box;
  background-color: white;
  background-color: var(--bg);
  box-sizing: content-box;
  display: flex;
  height: 100vw;
  justify-content: center;
  width: 100%;
  @include lg {
    height: 100vh;
  }

  picture {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  img {
    object-fit: contain;
    width: 70%;
    @include lg {
      width: 40%;
    }
  }
}

.projectImageStagger {
  --ratio: 100%;
  row-gap: 2rem;
  display: grid;
  @include lg {
    row-gap: 0;
    column-gap: 4rem;
    grid-template-rows: repeat(4, auto);
    height: auto;
  }

  picture {
    height: 0;
    padding-bottom: var(--ratio);
    position: relative;

    img {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  > * {
    &:nth-child(2n + 1) {
      @include lg {
        grid-row: 1 / 3;
      }
    }

    &:nth-child(2n) {
      @include lg {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
      }
    }
  }
}

.projectImageStagger + .projectImageStagger {
  @include lg {
    padding-top: 0;
  }
}

.grid2 + .grid2 {
  @include lg {
    padding-top: 0;
  }
}

.projectImageStagger3 {
  row-gap: 2rem;
  @include lg {
    row-gap: 0;
    grid-template-rows: repeat(4, 1fr);
  }

  img {
    height: auto;
    width: 100%;
  }

  > * {
    grid-column: 1 / -1;
    @include lg {
      grid-column: span 1;
      padding: 0 2rem;
    }

    &:nth-child(3n + 1) {
      @include lg {
        grid-row: 1 / 3;
      }
    }

    &:nth-child(3n + 2) {
      @include lg {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
      }
    }

    &:nth-child(3n) {
      @include lg {
        grid-column: 3 / 4;
        grid-row: 3 / 5;
      }
    }
  }
}

.projectText.pad {
  h4,
  p {
    @include lg {
      padding: 0 2rem;
    }
  }
}

.projectAutoSlider {
  --width: 100%;
  height: fit-content;
  min-height: 20rem;
  position: relative;
  width: 100%;

  *[data-effect='autoSlide'] {
    @include lg {
      display: flex;
      height: 100%;
      width: fit-content;
    }

    > * {
      box-sizing: content-box;
      display: block;
      flex-shrink: 0;
      height: 100%;
      margin-bottom: 2rem;
      max-width: none;
      width: 100%;
      @include lg {
        margin-right: 2rem;
        width: var(--width);
      }

      &:last-child {
        margin-bottom: 0;
        margin-right: 0;
      }

      img {
        height: 100%;
        left: 0;
        max-width: none;
        top: 0;
        width: 100%;
      }
    }
  }

  *[data-scale='true'] {
    > * {
      &:first-child {
        @include lg {
          width: 100vw;
        }
      }

      &:last-child {
        @include lg {
          width: 100vw;
        }
      }
    }

    picture {
      @media screen and (max-width: 992px) {
        transform: scale(1) !important;
      }
    }
  }

  .autoSlideWrapper {
    --height: fit-content;
    // height: 100vh;
    background-clip: content-box;
    background-color: var(--bgColor);
    overflow: hidden;
    padding: 0 var(--mgLeft);
    @include lg {
      padding: 0;
    }
  }
}

.autoSticky {
  @include lg {
    height: 800vh;
  }

  .autoSlideWrapper {
    @include lg {
      height: 100vh;
      position: sticky;
      top: 0;
    }
  }
}

.desktopScroll {
  position: relative;

  .scrollImg {
    background-color: grey;
    @include lg {
      --ratio: 100%;
      height: 72%;
      left: 9%;
      object-position: top;
      overflow-y: scroll;
      position: absolute;
      top: 18%;
      width: 82.5%;

      img {
        height: var(--ratio);
        object-position: top;
        width: 100%;
      }
    }
  }

  .baseImg {
    display: none;
    @include lg {
      display: block;
    }
  }
}

.projectControls {
  align-items: center;
  display: none;
  font-size: 1rem;
  justify-content: center;
  mix-blend-mode: difference;
  position: fixed;
  top: 0;
  transition: opacity 0.25s;
  z-index: 4;
  @include md {
    display: flex;
  }
}

.projectControls.fade {
  opacity: 0;
  pointer-events: none;
}

.projectUi {
  top: 50vh;
  width: var(--mgLeft);
  writing-mode: vertical-lr;
  margin-top: -6rem;
}

.projectControlPrev {
  left: 0;
}

.projectControlNext {
  right: 0;
}

.projectControlTitle {
  display: flex;
  height: 6.5rem;
  justify-content: center;
  z-index: 10;
  left: 0;
  max-width: 100vw;
  right: 0;
  width: 100vw;
  pointer-events: none;
  padding: 0 calc(var(--mgLeft) + 4rem);
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;

  @include md{
    height: 4rem;
  }
  @include lg {
    height: 3rem;
  }
}

.projectTopButton {
  align-items: center;
  bottom: 0;
  display: flex;
  grid-column: 1 / -1;
  height: 4rem;
  justify-content: center;
  max-width: none;
  mix-blend-mode: difference;
  position: sticky;
  width: 100%;
  z-index: 6;
}

.nextProject {
  background-color: var(--bgColor);
  border-top: 1px solid var(--textColor);
  grid-column: 1 / -1;
  padding: 0 var(--mgLeft);
  z-index: 7;

  a {
    max-width: none;
  }

  .nextProjectInfo {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: var(--mgLeft) 0;

    > * {
      &:nth-child(2) {
        text-align: center;
      }
      @include lg {
        width: 33%;
      }
    }

    h4 {
      margin-top: 0.5em;
      @include lg {
        margin-top: 0;
        text-align: right;
      }
    }
  }

  .projectNextImage {
    display: block;
    padding-bottom: 50vh;
    position: relative;
    width: 100%;

    img {
      height: 100%;
      left: 0;
      object-position: top;
      opacity: 0.5;
      position: absolute;
      top: 0;
      transition: opacity 0.25s;
      width: 100%;

      &:active,
      &:hover {
        opacity: 1;
      }
    }
  }
}

.videoSection{
  width: 100%;
  position: relative;
  --plyr-color-main: black;
  --plyr-range-fill-background: var(--accentColor);

  .plyr__control--overlaid{
    background: black;
    padding: 2rem;
    border: 2px solid white;
    transition: background 0.25s, transform 0.25s;
    transform-origin: center;

    >svg{
      width: 1.5rem;
      height: 1.5rem;
      transition: fill 0.25s;
    }

    &:hover, &:active{
      background: var(--textColor);
      transform: scale(1.25) translateX(-50%) translateY(-50%);
      >svg{
        fill: var(--bgColor);
      }
    }
  }

}

.videoSection.videoPad{
  width: 80%;
  margin: 0 auto;
}
