/* =============
    Buttons
============= */

button{
  background-color: transparent;
  border: 0;
}

*{
  transition-timing-function: ease-in-out;
}

.link{
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
  &::before{
    height: var(--border-wght);
    background-color: var(--text-color);
    content:'';
    position: absolute;
    bottom: -0.5rem;
    width: 100%;
  }
}

.linkExt{
  // font-weight: bold;
  // font-size: 1.5rem;
  position: relative;
  display: flex;
  transition: color 0.25s;
  &::before{
    height: var(--border-wght);
    background-color: var(--text-color);
    content:'';
    position: absolute;
    bottom: -0.5rem;
    width: 100%;
  }

  >svg{
    width: 1em;
    height: 1em;
    fill: currentColor;
    margin-left: 0.5em;
    transition: fill 0.25s;
  }

  &:hover, &:active{
    color: var(--accentColor);
    >svg{
      fill: var(--accentColor);
    }
  }
}

.fillButton{
  font-weight: bold;
  font-size: 1.2rem;
  position: relative;
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 0.25rem;
}

.roundArrow{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--textColor);
  border-radius: 100%;
  --rotateSVG: 0deg;
  --strokeSVG: var(--textColor);
  --translateSVG: 0;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  color: transparent;
  transition: color 0.25s, background 0.1s;
  font-family: bee, sans-serif;
  font-size: 3rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
  max-width: none;
  cursor: url("../img/cursor.svg") 25 14.5, pointer !important;


  @include md{
    font-size: 3rem;
    width: 12rem;
    height: 12rem;
  }

  @include lg{
    width: 15vw;
    height: 15vw;
    font-size: 3.2vw;
  }


  >svg{
    position: absolute;
    top: 10%;
    left: 10%;
    fill: none;
    stroke: var(--strokeSVG);
    width: 80%;
    height: 80%;
    transition: transform 0.25s;
    cursor: url("../img/cursor.svg") 25 14.5, pointer !important;
    transform: rotate(var(--rotateSVG)) translateX(var(--translateSVG));
  }

  &:hover, &:active, &:focus{
    color: var(--bgColor);
    background-color: var(--textColor);
    --strokeSVG: var(--bgColor);
    --translateSVG: 120%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}

.roundArrow.down{
  --rotateSVG: 90deg;
}


.hover-reveal {
	position: fixed;
	width: 10vw;
	height: 10vw;
  min-width: 120px;
  min-height: 120px;
	top: 0%;
	left: 0%;
	pointer-events: none;
  border-radius: 100%;
	opacity: 0;
  // transform-origin: center;
  z-index: 1000;
  background-color: var(--textColor);
  animation: rotateLoop 10s infinite linear;


  &:before{
    content:'';
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    background-image: url('../img/explore.svg');
    background-size: 95%;
    border-radius: 100%;
    pointer-events: none;
    background-position: center;
    background-repeat: no-repeat;
  }
}


a[data-swup-transition='project']{
  cursor: url("../img/cursor.svg") 25 8.3, pointer !important;
}
